body {
  background-color: rgb(245, 245, 245);
}

form {
  margin: 50px;
  text-align: center;
}

form > * {
  margin: 20px 0;
}

input[type="text"],
input[type="password"] {
  border-radius: 3px;
  border: 1px solid gray;
  padding: 10px;
}

label {
  margin-right: 10px;
}

label .required-star {
  color: red;
}

.invalid-field {
  border: 1px solid red;
}

.valid-field {
  border: 1px solid green;
}
