body {
  background-color: rgb(245, 245, 245);
  font-family: Helvetica, sans-serif;
  font-size: 15px;
}

form {
  margin: 50px;
  text-align: center;
}

form > * {
  margin: 20px 0;
}

input[type="text"],
input[type="password"] {
  border-radius: 3px;
  border: 1px solid gray;
  padding: 10px;
}

button[type="submit"] {
  border-radius: 3px;
  background-color: cornflowerblue;
  border: 1px solid cornflowerblue;
  color: white;
  font-weight: bold;
  padding: 10px;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s;
}

button[type="submit"]:hover {
  background-color: white;
  color: cornflowerblue;
}

button[type="submit"]:disabled {
  background-color: darkgrey;
  cursor: default;
  border: 1px solid darkgrey;
}

label {
  margin-right: 10px;
}

label .required-star {
  color: red;
}

.invalid-field {
  border: 1px solid red;
}

.valid-field {
  border: 1px solid green;
}
